#header{
    font-size: 25px;
    font-family: cursive;
    color: white;
    width: 100%;
    margin-top: 0;
}
#sub-heading{
    font-size: 20px;
    color: black;
    font-family: monospace;
}
body{
    background-size:cover ;
    
}
#play,#speed,#volume{
    font-size: 18px;
    width:120px;
}
#speed_div{
    float: left;
}
#speed_disk,#volume_disk{

    width: 250px;
    border-radius: 100%;
}
#volume_div{
    float: right;

}
